{% extends "base.html" %}

{% block content %}
    <div class="container">
        <h1>Edit User</h1>
        <form method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control" id="username" name="username" value="{{ user.username }}"
                       required>
            </div>
            <div class="mb-3">
                <label for="date_joined" class="form-label">Date Joined</label>
                <input type="text" class="form-control" id="date_joined" name="date_joined"
                       value="{{ user.date_joined }}" disabled>
            </div>
            <div class="mb-3">
                <label for="group" class="form-label">Group</label>
                <select class="form-select" id="group" name="group" required>
                    {% for group in groups %}
                        <option value="{{ group.id }}"
                                {% if group in user.groups_user_belongs_to.all %}
                                selected
                                {% endif %}>
                            {{ group.name }}
                        </option>
                    {% endfor %}
                </select>
            </div>

            <button type="submit" class="btn btn-primary">Update</button>
        </form>
    </div>
{% endblock %}
