h1 {
    font-weight: bold; /* Надає жирний стиль тексту */
    font-style: normal; /* Знімає курсивний стиль (якщо він був) */
}


.btn-primary, .btn-success {
    background-color: #fff;
    color: #007bff;
    border: 2px solid #007bff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    width: 100%;
}


.btn-primary:hover, .btn-success:hover {
    background-color: #007bff;
    color: #fff;
}

.col-md-6{
    width:50%;
}

.btn-left {
    margin-left: -15px;
}

.btn-right {
    margin-right: 0px;
}


.container-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5%;
}

.nav-link {
    font-weight: normal;

}

.nav-link.active {
    font-weight: bold;

}


.messages-err {
    color: red;
}

#icon-action {
    padding: 10px;
    color: #18428c;
}

a.no-underline {
    text-decoration: none;
}

.error-message {
    display: none;
    background-color: #ff6666;
    color: #ffffff;
    padding: 10px;
    text-align: center;
    font-weight: bold;
}

.error-message.active {
    display: block;
}

.fixed-div {
    position: fixed;
    top: 0;
    right: 0;
    padding: 10px;
    z-index: 1000;
    text-align: center;
    font-weight: bold;
    color: red;
}

