{% extends "base.html" %}
{% block title %}Groups{% endblock %}

{% block content %}

    {% if messages %}
        <ul class="fixed-div">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }} "{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <div class="row">
        {% if groups %}
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for group in groups %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ group.name }}</td>
                        <td>{{ group.description }}</td>
                        <td>
                            <a href="{% url 'edit_group' group.id %}" class="no-underline btn-left">
                                <i class="fa-regular fa-pen-to-square fa-xl" id='icon-action'></i>
                            </a>
                            <a href="{% url 'delete_group' group.id %}" class="no-underline btn-right">
                                <i class="fa-regular fa-circle-xmark fa-xl " id='icon-action' style="color: red;"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No groups available.</p>
        {% endif %}
    </div>
    <a class="btn btn-outline-success" href="{% url 'add_group' %}">Add Group</a>
{% endblock %}
